.stopwatch {
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    height: 100%;
}

.display {
    font-size: 24px;
}

.controls {
    margin-top: 10px;
}

.controls button {
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

.controls button:last-child {
    margin-right: 0;
}
.secondstimer{
    font-size: 50px;
}
.s{
    font-size: 30px;
}
.colon{
    font-size: 45px;
    margin: 0 5px;
}